[submodule "Engine/vendor/GLAD"]
	path = Engine/vendor/GLAD
	url = https://github.com/Tycjan-Fortuna-IT/glad.git
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/Tycjan-Fortuna-IT/glfw.git
[submodule "Engine/vendor/ImGui"]
	path = Engine/vendor/ImGui
	url = https://github.com/Tycjan-Fortuna-IT/imgui.git
[submodule "vendor/doxygen-awesome"]
	path = vendor/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "Engine/vendor/YamlCpp"]
	path = Engine/vendor/YamlCpp
	url = https://github.com/Tycjan-Fortuna-IT/yaml-cpp.git
[submodule "Engine/vendor/NFD-Extended"]
	path = Engine/vendor/NFD-Extended
	url = https://github.com/Tycjan-Fortuna-IT/NFD-Extended.git
[submodule "Engine/vendor/box2d"]
	path = Engine/vendor/box2d
	url = https://github.com/Tycjan-Fortuna-IT/box2d.git
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/vendor/msdf-atlas-gen"]
	path = Engine/vendor/msdf-atlas-gen
	url = https://github.com/Tycjan-Fortuna-IT/msdf-atlas-gen.git
[submodule "Engine/vendor/tracy/tracy"]
	path = Engine/vendor/tracy/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Engine/vendor/Coral"]
	path = Engine/vendor/Coral
	url = https://github.com/StudioCherno/Coral.git
[submodule "Engine/vendor/imgui-node-editor"]
	path = Engine/vendor/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "vendor/FancyBuildSystem"]
	path = vendor/FancyBuildSystem
	url = https://github.com/Tycjan-Fortuna-IT/FancyBuildSystem.git
	branch = master
[submodule "Engine/modules/Logger"]
	path = Engine/modules/Logger
	url = https://github.com/SW-II/Logger.git
	branch = master
[submodule "Engine/modules/Eventing"]
	path = Engine/modules/Eventing
	url = https://github.com/Tycjan-Fortuna-IT/Eventing.git
	branch = master
[submodule "Engine/modules/OpenGL"]
	path = Engine/modules/OpenGL
	url = https://github.com/Tycjan-Fortuna-IT/OpenGL.git
	branch = master
