[submodule "Engine/vendor/GLAD"]
	path = Engine/vendor/GLAD
	url = https://github.com/Tycjan-Fortuna-IT/glad.git
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/Tycjan-Fortuna-IT/glfw.git