[submodule "Engine/vendor/GLAD"]
	path = Engine/vendor/GLAD
	url = https://github.com/Tycjan-Fortuna-IT/glad.git
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/Tycjan-Fortuna-IT/glfw.git
[submodule "Engine/vendor/ImGui"]
	path = Engine/vendor/ImGui
	url = https://github.com/Tycjan-Fortuna-IT/imgui.git
[submodule "vendor/doxygen-awesome"]
	path = vendor/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/Tycjan-Fortuna-IT/spdlog.git
[submodule "Engine/vendor/YamlCpp"]
	path = Engine/vendor/YamlCpp
	url = https://github.com/Tycjan-Fortuna-IT/yaml-cpp.git
[submodule "Engine/vendor/NFD-Extended"]
	path = Engine/vendor/NFD-Extended
	url = https://github.com/Tycjan-Fortuna-IT/NFD-Extended.git
[submodule "Engine/vendor/box2d"]
	path = Engine/vendor/box2d
	url = https://github.com/Tycjan-Fortuna-IT/box2d.git
